<section class="navbar navbar-default col-sm-3 col-md-2 sidebar">
       <ul class="nav nav-sidebar">
         <li class="active"><a href="#profile"><span class="fa fa-user"></span> My Profile</a></li>
         <li><a href="#billing"><span class="fa fa-credit-card"></span> Billing Info</a></li>
         <li><a href="#preferences"><span class="fa fa-check-square-o"></span> Preferences</a></li>
         <li><a href="#passwordreset"><span class="fa fa-user-secret"></span> Password Reset</a></li>
         <li><a href="#help"><span class="fa fa-question-circle"></span> Help</a></li>
       </ul>
</section>
