<h3><i class="fa fa-truck"></i>Details for {{product.productname}}</h3>
<table class="table">
    <tr>
        <td>Product Name</td>
        <td>{{product.productName}}</td>
    </tr>
    <tr>
        <td>Product Price</td>
        <td>{{product.productPrice}}</td>
    </tr>
    <tr>
        <td>Product Description</td>
        <td>{{product.productDescription}}</td>
    </tr>
    <tr>
        <td>Product Category</td>
        <td>{{product.productCategory}}</td>
    </tr>
</table>
<div>
    <td style="border-top:0px;border-bottom:0px">
    <a class="btn btn-primary" ui-sref="updateproduct({id:product._id})">Update Product</a>
    </td>
    <td style="border-top:0px;border-bottom:0px">
    <a class="btn btn-danger"  ng-click="deleteProduct(product)">Delete</a>
    </td>
</div>
