<h3><i class="fa fa-truck"></i>Details for {{product.productname}}</h3>
<table class="table">
    <tr>
        <td>Product Name</td>
        <td>{{product.productname}}</td>
    </tr>
    <tr>
        <td>Product Price</td>
        <td>{{product.productprice}}</td>
    </tr>
    <tr>
        <td>Product Description</td>
        <td>{{product.productdescription}}</td>
    </tr>
    <tr>
        <td>Product Category</td>
        <td>{{product.productcategory}}</td>
    </tr>
</table>
<div>
    <a class="btn btn-primary" ui-sref="updateproduct({id:product._id})">Update Product</a>
</div>
